@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@layer components {
  * {
    @apply m-0 p-0 box-border font-gilroy;
  }
  .button {
    @apply flex items-center justify-center bg-[#783EAD] w-[120px] h-[44px] hover:bg-[#380048] text-[#ffffff] font-semibold rounded-[10px] py-3 px-6 gap-2 cursor-pointer;
  }
}

@layer utilities {
  #container {
    @apply mt-6 grid grid-cols-3 justify-between items-center;
  }
}
